In [14]:
import os
import pandas as pd

# Directory containing the zipped taxi files
directory = 'G:\zoomcamp\week3\mage-zoomcamp'

# Select which months to read and concat
start_month = 10
end_month = 12

# Initialize an empty list to store DataFrames
dfs = []

# Datatypes used for green taxi data
taxi_dtypes = {
                    'VendorID': pd.Int64Dtype(),
                    'passenger_count': pd.Int64Dtype(),
                    'trip_distance': float,
                    'RatecodeID':pd.Int64Dtype(),
                    'store_and_fwd_flag':str,
                    'PULocationID':pd.Int64Dtype(),
                    'DOLocationID':pd.Int64Dtype(),
                    'payment_type': pd.Int64Dtype(),
                    'fare_amount': float,
                    'extra':float,
                    'mta_tax':float,
                    'tip_amount':float,
                    'tolls_amount':float,
                    'improvement_surcharge':float,
                    'total_amount':float,
                    'congestion_surcharge':float
                }

parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

# Loop through each file using the range function
for i in range(start_month, end_month + 1):
    filename = f'green_tripdata_2020-{i}.csv.gz'
    file_path = os.path.join(directory, filename)
    print(f'Reading and adding {file_path} to the dataframe')
    # Read the CSV file into a DataFrame and append to the list
    dfs.append(pd.read_csv(file_path, compression="gzip", dtype=taxi_dtypes, parse_dates=parse_dates))

# Concatenate all DataFrames in the list into a single DataFrame
concatenated_df = pd.concat(dfs, ignore_index=True)

# Display the concatenated DataFrame
concatenated_df.head(10)

Reading and adding G:\zoomcamp\week3\mage-zoomcamp\green_tripdata_2020-10.csv.gz to the dataframe
Reading and adding G:\zoomcamp\week3\mage-zoomcamp\green_tripdata_2020-11.csv.gz to the dataframe
Reading and adding G:\zoomcamp\week3\mage-zoomcamp\green_tripdata_2020-12.csv.gz to the dataframe

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.00
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.00
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.00
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.00
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.00
5,2,2020-10-01 00:04:50,2020-10-01 00:13:34,N,1,75,42,1,2.65,9.5,0.5,0.5,0.00,0.0,NaN,0.3,10.80,2,1.0,0.00
6,2,2020-10-01 00:49:30,2020-10-01 01:09:03,N,1,42,51,1,11.48,33.0,0.5,0.5,0.00,0.0,NaN,0.3,34.30,2,1.0,0.00
7,2,2020-10-01 00:54:35,2020-10-01 01:03:43,N,1,25,80,1,4.12,13.5,0.5,0.5,4.44,0.0,NaN,0.3,19.24,1,1.0,0.00
8,2,2020-10-01 01:00:05,2020-10-01 01:07:56,N,1,74,43,1,2.24,9.0,0.5,0.5,3.92,0.0,NaN,0.3,16.97,1,1.0,2.75
9,1,2020-10-01 00:46:58,2020-10-01 00:58:36,N,1,260,146,1,2.70,11.0,0.5,0.5,3.05,0.0,NaN,0.3,15.35,1,1.0,0.00

In [35]:
len(concatenated_df)

266855

In [41]:
concatenated_df[concatenated_df['VendorID'].isin([1,2,3,4])].shape[0]

147393

In [46]:
concatenated_df[~concatenated_df['VendorID'].isin([1,2])].shape[0]

119462

In [50]:
unique_values = concatenated_df['VendorID'].unique()

In [51]:
for value in unique_values:
    print(value)

2
1
<NA>